<footer class="bg-dark text-white pt-5">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <h5 class="font-weight-bold">Proyecto BookVerse</h5>
                <p>Creado por:</p>
                <ul class="list-unstyled">
                    <li>Farias Flores, Maria Jose</li>
                    <li>Gallarreta, Benjamin<de/li>
                    <li>Garro, Miguel</li>
                </ul>
            </div>
            
            <div class="col-md-4 text-md-right">
                <i> “Ama a toda la creación de Dios, al conjunto y cada grano de arena. 
                    Ama cada hoja, cada rayo de luz. Ama a los animales, ama a las plantas, ama cada cosa. 
                    Si amas todas las cosas, percibirás el misterio divino en ellas. 
                    Y una vez que lo percibas, comenzarás a comprenderlo mejor todos los días. 
                    Y al final llegarás a amar el mundo entero con un amor total y universal.”
                <i/>
                <b> - Los hermanos Karamázov, Fiódor Dostoyevski <b/>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <p class="mb-0">&copy; 2024 BookVerse - Todos los derechos reservados</p>
                {% if user.is_staff %}
                    <a href="{% url 'acceso_admin' %}">Acceso para Administradores</a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
