{% load static %}

<body>
    <nav>
        
        <div class="navbar-left">
            <a class="titulo" href="/">BookVerse</a>
            <ul class="categorias">
                <li>
                    <a href="#"><i class="fa-solid fa-list"></i> Categorias</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'libros_por_genero' genero='Historical Fiction' %}"><i class="fa-solid fa-book"></i> Ficción Histórica</a></li>
                        <li><a href="{% url 'libros_por_genero' genero='LGBTQ+' %}"><i class="fa-solid fa-book"></i> LGBTQ+</a></li>
                        <li><a href="{% url 'libros_por_genero' genero='Science Fiction' %}"><i class="fa-solid fa-book"></i> Ciencia Ficción</a></li>
                        <li><a href="{% url 'libros_por_genero' genero='Romance' %}"><i class="fa-solid fa-book"></i> Romance</a></li>
                        <li><a href="{% url 'libros_por_genero' genero='Mystery' %}"><i class="fa-solid fa-book"></i> Misterio</a></li>
                        <li><a href="{% url 'libros_por_genero' genero='Contemporary Fiction' %}"><i class="fa-solid fa-book"></i> Ficción Contemporánea</a></li>
                        <li><a href="{% url 'libros_por_genero' genero='Fantasy' %}"><i class="fa-solid fa-book"></i> Fantasía</a></li>
                        <li><a href="{% url 'libros_por_genero' genero='Horror' %}"><i class="fa-solid fa-book"></i> Horror</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        

        <!-- Barra de búsqueda y botones adicionales -->
        <div class="navbar-mid">
            <form method="get" action="{% url 'home' %}">
                <input type="text" class="barra_busqueda" name="buscar" placeholder="Buscar...">
                <button type="submit" class="boton">Buscar</button>
            </form>            
        </div>


        <div class="navbar-right">
            <button onclick="window.location.href='{% url 'carrito' %}'" class="boton_login"><i class="fas fa-shopping-cart"></i> Carrito</button>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="boton_login" type="submit">Cerrar Sesión</button>
                </form>
            {% else %}
                <button onclick="window.location.href='{% url 'login' %}'" class="boton_login">Iniciar Sesión</button>
            {% endif %}            
            
            <ul class="opciones_usuario">
                <li>
                    <img src="{% static 'Usuario/default-avatar.png' %}">
                    <ul class="dropdown">
                        <li>
                            <a href="{% url 'perfil_usuario' %}">
                                <i class="fa-solid fa-pen"></i> Editar Perfil
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'wishlist' %}">
                                <i class="fa-regular fa-heart"></i> Lista de Deseados
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</body>

