{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <title>BookVerse | Editar Perfil</title>
    <link rel="stylesheet" href="{% static 'Usuario/edit_user.css' %}">
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-column">
                    
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="form-title">DATOS PERSONALES</h2>
                        
                        <div class="form-group">
                            <label for="fullName">Nombre Completo</label>
                            {{form.nombre_completo}}
                        </div>
                        
                        <div class="form-group">
                            <label for="eMail">Email</label>
                            {{form.email}}
                        </div>
                        
                        <div class="form-group">
                            <label for="phone">Telefono</label>
                            {{form.telefono}}
                        </div>
                        
                        <div class="form-group">
                            <label for="fullName">Nacionalidad</label>
                            {{form.nacionalidad}}
                        </div>
                    </div>

                    <div class="signup-column">
                        <h2 class="form-title">DATOS CENSALES</h2>
                        
                        <div class="form-group">
                            <label for="Street">Dirección</label>
                            {{form.direccion}}
                        </div>
                        
                        <div class="form-group">
                            <label for="ciTy">Ciudad</label>
                            {{form.ciudad}}
                        </div>
                        
                        <div class="form-group">
                            <label for="sTate">Provincia / Estado</label>
                            {{form.provincia}}
                        </div>
                        
                        <div class="form-group">
                            <label for="zIp">Codigo Postal</label>
                            {{form.codigo_postal}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar Cambios" class="form-submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}